In [37]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.preprocessing import OrdinalEncoder, RobustScaler
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

In [38]:
data = pd.read_csv('traindata.csv')
data.head(5)

   ID  duration protocol_type  ... dst_host_srv_rerror_rate level  Class
0   0         0           tcp  ...                     0.01    21      0
1   1         0           tcp  ...                     0.01    21      0
2   2         0           tcp  ...                     0.00    11      1
3   3         0           tcp  ...                     0.02    21      0
4   4         0           tcp  ...                     1.00    11      0

[5 rows x 44 columns]

In [39]:
data1 = pd.read_csv('testdata.csv')

In [40]:
all_services = np.concatenate([data['service'], data1['service']]).reshape(-1, 1)

In [41]:
enc = OrdinalEncoder()
data['protocol_type'] = enc.fit_transform(np.array(data['protocol_type']).reshape(-1, 1))
enc_f = OrdinalEncoder()
data['flag'] = enc_f.fit_transform(np.array(data['flag']).reshape(-1, 1))
enc_srv = OrdinalEncoder()
enc_srv.fit(all_services)
data['service'] = enc_srv.transform(np.array(data['service']).reshape(-1, 1))

In [42]:
# Top 5 selected using RFE + others
data = data.filter(['protocol_type', 'src_bytes', 'dst_bytes', 'dst_host_srv_count', 'count', 'level', 'service', 'flag', 'Class'], axis=1)
data.head(5)

   protocol_type  src_bytes  dst_bytes  ...  service  flag  Class
0            1.0        295       2584  ...     22.0   9.0      0
1            1.0        312        839  ...     22.0   9.0      0
2            1.0       1225       2451  ...     18.0   9.0      1
3            1.0        293        296  ...     22.0   9.0      0
4            1.0          0          0  ...      1.0   1.0      0

[5 rows x 9 columns]

In [43]:
data1 = data1.filter(['protocol_type', 'src_bytes', 'dst_bytes', 'dst_host_srv_count', 'count', 'level', 'service', 'flag'], axis=1)
data1.head(5)

  protocol_type  src_bytes  dst_bytes  ...  level  service  flag
0           tcp         30         93  ...     16    pop_3    SF
1           tcp          0          0  ...     21  private    S0
2           udp         52         54  ...     17  private    SF
3           tcp        367        588  ...     21     http    SF
4          icmp       1008          0  ...     18    ecr_i    SF

[5 rows x 8 columns]

In [44]:
data1['protocol_type'] = enc.transform(np.array(data1['protocol_type']).reshape(-1, 1))
data1['flag'] = enc_f.transform(np.array(data1['flag']).reshape(-1, 1))
data1['service'] = enc_srv.transform(np.array(data1['service']).reshape(-1, 1))

In [45]:
X = data.drop(['Class'], axis=1)
y = data['Class']

In [46]:
rs = RobustScaler()
X = rs.fit_transform(X)
data1 = rs.transform(data1)

In [48]:
clf = DecisionTreeClassifier(splitter='best', criterion='entropy', class_weight={0: 1, 1: 10}, 
                              max_depth=6, max_features=6, max_leaf_nodes=12, random_state=1218)
clf.fit(X_train,y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight={0: 1, 1: 10},
                       criterion='entropy', max_depth=6, max_features=6,
                       max_leaf_nodes=12, min_impurity_decrease=0.0,
                       min_impurity_split=None, min_samples_leaf=1,
                       min_samples_split=2, min_weight_fraction_leaf=0.0,
                       presort='deprecated', random_state=1218,
                       splitter='best')

In [49]:
# #recursive feature elimination
# from sklearn.feature_selection import RFE
# selector = RFE(clf, n_features_to_select=5, step=1)
# selector = selector.fit(X, y)
# selector.ranking_

Upon training the classifier on the initial feature set (all features), the above code snippet was run, and the top 5 selected features were as follows:
- protocol_type
- src_bytes
- dst_bytes
- dst_host_srv_count
- level

In [51]:
y_pred=clf.predict(data1)

In [52]:
id = np.arange(0, len(data1))
prediction = pd.DataFrame({'ID':id,'Class':y_pred},columns=['ID','Class'])
#prediction.head(2)
prediction.to_csv('prediction.csv',index=False)